<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'curation', :plugin => 'genboree_ac'%>
    <%= stylesheet_link_tag 'differ.css', :plugin => 'genboree_ac'%>
    <%= stylesheet_link_tag 'bootstrap-switch.min.css', :plugin => 'genboree_ac'%>
    
<% end %>
<%
  kbMount = RedmineApp::Application.routes.default_scope[:path].to_s.gsub(/'/, "\\\\'").gsub(/\n/, ' ').html_safe
  projectId = @projectId.to_s.gsub(/'/, "\\\\'").gsub(/\n/, ' ').html_safe
%>
<% content_for :header_tags do %>
    <script>
      /* This is set in the controller. */
      var projectId = '<%=projectId%>' ;
      var docIdentifier = '<%=@docIdentifier.to_s.gsub(/'/, "\\\\'").gsub(/\n/, ' ').html_safe %>' ;
      var kbMount = '<%= kbMount %>' ;
      var gbHost = '' ;
      var gbGroup = '' ;
      var gbKb = '';
      var userRole = '<%=@currRmUser.roles_for_project(Project.find(@projectId))[0].name.to_s.gsub(/'/, "\\\\'").gsub(/\n/, ' ').html_safe %>' ;
      var gbLogin = '<%= @currRmUser.login ? @currRmUser.login : 'anon'  %>' ;
      var userFirstName = '<%= @currRmUser.firstname ? @currRmUser.firstname : "anon"  %>' ;
      var userLastName = '<%= @currRmUser.lastname ? @currRmUser.lastname : "anon"  %>' ;
      var acCurationColl = '' ;
      var acRefColl = '';
      var acOnetCollRsrcPath = '' ;
      var versionLabel = '<%=l(:gbac_label_version)%>' ;
      var releaseLabel = '<%=l(:gbac_label_release)%>' ;
    </script>
    <%
      if @genboreeAc.nil?
    %>
      <script>
      </script>
    <%
      else
    %>
      <script>
        gbHost = '<%=@genboreeAc.gbHost.to_s.gsub(/'/, "\\\\'").gsub(/\n/, ' ').html_safe %>' ;
        gbGroup = '<%=@genboreeAc.gbGroup.to_s.gsub(/'/, "\\\\'").gsub(/\n/, ' ').html_safe %>' ;
        gbKb = '<%=@genboreeAc.gbKb.to_s.gsub(/'/, "\\\\'").gsub(/\n/, ' ').html_safe %>' ;
        acCurationColl = '<%=@genboreeAc.actionabilityColl.to_s.gsub(/'/, "\\\\'").gsub(/\n/, ' ').html_safe %>' ;
        acRefColl = '<%=@genboreeAc.referencesColl.to_s.gsub(/'/, "\\\\'").gsub(/\n/, ' ').html_safe %>' ;
        acOnetCollRsrcPath = '<%=@genboreeAc.gbActOrphanetCollRsrcPath.to_s.gsub(/'/, "\\\\'").gsub(/\n/, ' ').html_safe %>' ;
        var litSearchSourceCfgJSON = '<%=@litSearchSourceJSON.gsub(/'/, "\\\\'").gsub(/\n/, ' ').html_safe%>' ;
        var litSearchSourceCfg = JSON.parse(litSearchSourceCfgJSON) ;
        var isReleaseKB = <%==@genboreeAc.isAcReleaseTrack%> ;
        <%= @userPermsJS %>
        $(document).ready(function(){
          
        });
      </script>
    <%
      end
    %>
    <%= javascript_include_tag 'disable_touch.js', :plugin => 'genboree_ac' %>
    <%= javascript_include_tag 'appLoader', :plugin => 'genboree_ac' %>
    <%= javascript_include_tag 'helpers', :plugin => 'genboree_ac' %>
    <%= javascript_include_tag 'bootstrap-switch.min.js', :plugin => 'genboree_ac' %>
   <!--<%= javascript_include_tag 'bootstrap.min.js', :plugin => 'genboree_ac' %>-->
    <base href="<%=kbMount%>/projects/<%=projectId%>/genboree_ac/ui/curation>">
<% end %>

<% unless(@genboreeAc.isAcReleaseTrack) %>
    <script id="microloader" data-app="12345" type="text/javascript" src="../sencha/sencha-apps/curation/microloader.js"></script>
    <%
      releaseAlertMarkup = "" ;
    %>
    <div class="alert alert-warning hide reopen-alert-container">
      The document for this Gene-Disease pair has been released.
      <%
        if(@userPermsObj[:gbac_edit_doc_release])
      %>
        You can reopen the document if you wish to make additional revisions.
        <div class="btn-group reopen-btn">
          <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#reopenModal">Reopen</button>
        </div>
      <%
        else
      %>
        If you wish to reopen this document for additional revisions, please contact the Project Manager. A user who is allowed to 'Release' documents is required to reopen documents. 
      <%
        end
      %>
    </div>
    
    <div  id="mainContainerPanelDiv" style="width: 92%;margin-top:20px;margin-bottom:30px;margin-left:50px;"></div>
<% else %>
    <div class="container-fluid" style="width: 92%;margin-top:20px;margin-bottom:30px;margin-left:50px;">
        <div class="well well-lg">
          This is the release/public database. The curation interface cannot be opened here. 
        </div>
    </div>
<% end %>


